@charset "utf-8";

#tsc_player {
   z-index: 9999;	
}

.tscplayer_inline {
	position:static;
	margin: 30px;
	width: 852px;
	height: 480px;
	z-index:auto;
}

.tscplayer_fullframe {
	position:absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 9999;	
}

@media screen and (max-width: 852px) {
    .tscplayer_inline {
	width: 100%;
    }
}


h1 {
    color: white;
    font-size: 2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    text-align: center;
}

h2 {
    color: white;
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 2em;
    text-align: center;
}